@media (min-width: 641px) {
  .mainContainer {
    margin: 0 1rem;
  }
}
@media (max-width: 641px) {
  .mainContainer {
    margin: 0 0.5rem;
  }
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
}

h1,
p {
  color: var(--color-on-background);
  margin-bottom: 0.5rem;
}

hr {
  border-color: var(--color-primary);
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.gameContainer {
  background-color: var(--color-surface);
  border: var(--border-width-default) solid transparent;
  border-radius: var(--border-radius-default);
}

.matrix {
  max-width: 30rem;
  margin: 0 auto;
}

.error {
  max-height: max-content;
}
