@media (min-width: 641px) {
  .mainContainer {
    margin: 0 1rem;
  }
}
@media (max-width: 641px) {
  .mainContainer {
    margin: 0 0.5rem;
  }
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
}

h1,
p {
  color: var(--color-on-background);
  margin-bottom: var(--margin-bottom-default);
}

hr {
  border-color: var(--color-primary);
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.gameContainer {
  background-color: var(--color-surface);
  border: var(--border-width-default) solid transparent;
  border-top-left-radius: var(--border-radius-default);
  border-top-right-radius: var(--border-radius-default);
  margin-bottom: var(--margin-bottom-default);
}

.matrix {
  max-width: 30rem;
  margin: 0 auto;
}

div.error {
  max-height: max-content;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.actionsContainer {
  display: flex;
  gap: var(--gap-default);
  margin-bottom: var(--margin-bottom-default);
}

.actionsContainer > button {
  background-color: var(--color-primary);

  border-width: var(--border-width-default);
  border-style: solid;
  border-color: transparent;
  
  color: var(--color-on-primary);

  display: flex;
  flex: 1;

  transition: border-radius var(--animation-time-short) ease;
}

.actionsContainer > button:last-child {
  border-bottom-right-radius: var(--border-radius-default);
  justify-content: left;
}

.actionsContainer > button:first-child {
  border-bottom-left-radius: var(--border-radius-default);
  justify-content: right;
}

.actionsContainer:is([data-error="true"]) > button {
  border-radius: 0;
}

