main {
  height: 100%;
  display: flex;
  justify-content: center;
}

h1,
p {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

hr {
  border-color: var(--color-primary);
}

.gameContainer {
  background-color: var(--color-surface);
  border-width: 1rem;
  border-radius: 1rem;
  padding: 2rem;
}

.matrix {
  max-width: 30rem;
  margin: 0 auto;
}

.error {
  margin: 0.5rem;
}
