main {
  height: 100%;
  display: flex;
  justify-content: center;
}

h1,
p {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

hr {
  border-color: var(--color-primary);
}

.mainContainer {
  max-width: 1024px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

}

.gameContainer {
  display: flex;
  width: 100%;
  background-color: var(--color-surface);
  border-style: solid;
  border-color: transparent;
  justify-content: center;
  border-width: 1rem;
  border-radius: 1rem;
}

.matrix {
  display: flex;
  flex: 1;
  max-width: 30rem;
}

.error {
  margin: 0.5rem;
}