@media (min-width: 641px) {
  :root{
    --border-radius-cell: var(--border-radius-inside);
  }
}
@media (max-width: 640px) {
    :root{
    --border-radius-cell: var(--border-radius-default);
  }
}

.matrix {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  gap: 0.5rem;
}

.row > button {
  transition: border-radius var(--animation-time-short) ease;
}

.row:first-child > :first-child {
  border-top-left-radius: var(--border-radius-cell);
}
.row:first-child > :last-child {
  border-top-right-radius: var(--border-radius-cell);
}
.row:last-child > :first-child {
  border-bottom-left-radius: var(--border-radius-cell);
}
.row:last-child > :last-child {
  border-bottom-right-radius: var(--border-radius-cell);
}
