.errorContainer {
  background: var(--color-error);
  max-width: 100%;
  padding: 0.6rem;
  border-radius: var(--border-radius-default);

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: translateY(-5px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.errorText {
  color: var(--color-on-error);
  display: flex;
  align-items: center;
}

.errorText::before {
  content: "❌";
  font-size: 1rem;
  margin-right: 0.25rem;
}

.visibleError {
  opacity: 1;
  transform: translateY(0);
}

.hiddenError {
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
}
