.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  aspect-ratio: 1;
  width: 100%;
  background-color: var(--color-secondary);
  border-color: var(--color-stroke);
  color: var(--color-on-secondary);
  container-type: inline-size;
  
}

.insideText {
  font-size: 32cqi;
  font-family: 'RubikMonoOne', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  overflow: hidden;
}

.cell:hover {
  opacity: 0.9;
}

.winning {
  background-color: var(--color-win);
}
