:root {
  --color-primary: #1e3a8a;
  --color-secondary: #3f63c5;
  --color-accent: #60a5fa;
  --color-stroke: #00000030;

  --color-background: #dde7f5;
  --color-surface: #ebeff5;

  --color-text: #1e3a8a;
  --color-text-secondary: #3b82f6;

  --color-on-primary: #ffffff;
  --color-on-primary-secondary: #dbeafe;

  --color-on-secondary: #dbeafe;

  --color-error: #792036;
  --color-on-error: #d45083;

  --color-win: #54af6f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #9ec6f7;
    --color-secondary: #3971b6;
    --color-accent: #3b82f6;
    --color-stroke: #ffffff30;

    --color-background: #0e2d53;
    --color-surface: #1e293b;

    --color-text: #e0f2fe;
    --color-text-secondary: #a5b4fc;

    --color-on-primary: #0f172a;
    --color-on-primary-secondary: #dbeafe;

    --color-on-secondary: #dbeafe;
  }
}
