@import "./colors.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root,
body,
#root {
  width: 100%;
  height: 100%;
}

:root {
  color: var(--color-text);
  background-color: var(--color-background);
}
