@import "./shared/styles/colors.css";
@import "./shared/styles/default-sizes.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root,
body,
#root {
  width: 100%;
  height: 100%;
}

:root {
  color: var(--color-on-background);
  background-color: var(--color-background);
}

hr {
  border-style: solid;
}

button {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:focus {
  outline: none;
}

@font-face {
  font-family: "RubikMonoOne";
  src:
    local("RubikMonoOne"),
    url("./assets/fonts/RubikMonoOne.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
