main > hr {
  margin-bottom: var(--margin-bottom-default);
}

.formContainer {
  background-color: var(--color-surface);
  border: var(--border-width-default) transparent solid;
  border-radius: var(--border-radius-default);
}

.formContainer form .params {
  display: grid;
  margin-top: var(--margin-top-default);
  margin-bottom: var(--margin-bottom-default);
  grid-template-columns: minmax(max-content, 10rem) 1fr;
  gap: var(--gap-default);
  align-items: center;
}

.formContainer form hr {
  grid-column: 1 / -1;
}
.formContainer form h2 {
  grid-column: 1 / -1;
  width: 100%;
  text-align: center;
  margin-top: var(--margin-top-default);
}
.formContainer form:first-child h2 {
  margin-top: 0;
}

.formContainer label {
  word-wrap: break-word;
}

.formContainer input {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  padding: var(--padding-default);
  border-style: none;
  border-radius: var(--border-radius-default);
  width: 100%;
}

.formContainer input::placeholder {
  color: var(--color-on-secondary);
  opacity: 0.5;
}

.formContainer button[type="submit"] {
  width: 100%;
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  border: var(--border-width-default) transparent solid;
  border-radius: var(--border-radius-default);
  text-align: center;
  margin-top: var(--margin-top-default);
}

.namesInputs {
  display: grid;
  margin-top: var(--margin-top-default);
  margin-bottom: var(--margin-bottom-default);
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-default);
  align-items: center;
}

.nameInput {
  display: flex;
  gap: var(--gap-default);
  white-space: nowrap; 
  align-items: center;
}

.nameInputLast {
  opacity: 0.75;
}